.imgProcess{
    width: 90%
}

.btn{
  border-radius: 50%;
  width: 5rem;
  min-width: 5rem;
  max-width: 5rem;
  height: 5rem;
  font-size: smaller;
}

.btnImgNext{
    width: 2.4rem;
    margin-top:-0.7rem;
    margin-bottom: -0.1rem
}
.btnImgBack{
    width: 2.4rem;
    margin-top:-0.7rem;
    margin-bottom: -0.1rem;
    transform: rotate(180deg)
}

.steps_displayNone{
  opacity: 0;
  transition: opacity 1s
}

.steps_display{
  opacity: 1;
  transition:  opacity 1s 
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}